# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
env/
venv/

# Django
db.sqlite3
*.log
*.pot
*.pyc
local_settings.py
settings_local.py

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store

# Secrets
.env

media/

